@import '../experiences/experiences.component.scss';

.school {
  margin-bottom: 0.5rem;
}

.school-name {
  font-weight: bold;
}

.minor {
  color: var(--theme-background-color);
  font-size: var(--theme-font-size-smaller);
}

.eq-diploma {
  display: block;
  font-size: 0.75em;
  color: var(--theme-font-color-light);
}