<div id="education" class="section quaternary">
  <h1 class="negative position-sticky">education</h1>
  @for (scholarship of scholarships; track scholarship) {
  <div class="row experience">
    <div class="col-2 timeline">
      <div class="button interval">{{ scholarship.startDate }} - {{ scholarship.endDate }}</div>
    </div>
    <div class="col-10">
      <h2 class="container-fluid button negative">
        <span>{{ scholarship.diploma }}</span>
        <span class="eq-diploma">{{ scholarship.diploma_ca }}</span>
      </h2>
      @for (school of scholarship.schools; track school) {
      <div class="school">
        <div class="school-name">
          <span>{{ school.name }}</span>
          @if (school.period) {
          &nbsp;<span class="button negative interval">{{ school.period }}</span>
          }
        </div>
        <div class="location">
          <img class="pinpoint" src="img/noun_pinpoint_1426597.svg" />
          <span>{{ school.location }}</span>
        </div>
        <div>
          <span class="major">Major {{ school.major }}</span>
          @if (school.minor) {
          <span class="minor"> &bull; Minor {{ school.minor }}</span>
          }
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>