<div id="work-experiences" class="section tertiary">
  <h1 class="negative">work experience</h1>
  <div class="row experience">
    <div class="col-12">
      <h2 class="col-md-10 col-12 float-right button negative">Principal Software Engineer</h2>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">since 2020</div>
      <div class="duration">{{ getDuration('2020-02-01', '') }}</div>
    </div>
    <div class="col-10">
      <span class="company">Talend</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Nantes, France</span>
      </div>
      <ul class="tasks">
        <li>// TODO</li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">Microservices</li>
        <li class="button negative">CI/CD</li>
        <li class="button negative">Java</li>
        <li class="button negative">Spring Boot</li>
        <li class="button negative">Reactor</li>
        <li class="button negative">Quarkus</li>
        <li class="button negative">Kafka</li>
        <li class="button negative">Jenkins</li>
        <li class="button negative">Gradle</li>
        <li class="button negative">Docker</li>
        <li class="button negative">Jib</li>
        <li class="button negative">Kubernetes</li>
        <li class="button negative">Helm</li>
        <li class="button negative">AWS</li>
        <li class="button negative">Go</li>
      </ul>
    </div>
  </div>
  <div class="row experience">
    <div class="col-12">
      <h2 class="col-md-10 col-12 float-right button negative">Application Architect / Technical Leader</h2>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2019</div>
      <div class="duration">{{ getDuration('2019-02-01', '2019-09-13') }}</div>
    </div>
    <div class="col-10">
      <span class="company">National Bank of Canada</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Montreal, QC, Canada</span>
      </div>
      <ul class="tasks">
        <li>As an architect, I was involved in the DevSecOps transformation. We used a buildpack approach and many tools such as
          CircleCI, Jib and Kaniko to create a simple yet secured, and open CI pipeline for all teams.
        </li>
        <li>As an architect, I also worked closely with the developers, I provided advises as well as concrete technical solutions
          in line with the industry and its good practices.
        </li>
        <li>I was also involved in the recruitment process by giving technical interviews to tens of candidates.</li>
        <li>I was tech lead of the team in charge of a sensitive client-facing (couple millions of users) webapp. We delivered
          lots of improvements, especially dedicated to accessibility.
        </li>
        <li>And I also took part in the backend development and had to work on legacy microservices as well as build new ones.
        </li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">DevSecOps</li>
        <li class="button negative">Buildpacks</li>
        <li class="button negative">Microservices</li>
        <li class="button negative">CI/CD</li>
        <li class="button negative">Java</li>
        <li class="button negative">Spring</li>
        <li class="button negative">Spring Boot</li>
        <li class="button negative">Reactor</li>
        <li class="button negative">Kafka</li>
        <li class="button negative">CircleCI</li>
        <li class="button negative">Docker</li>
        <li class="button negative">Jib</li>
        <li class="button negative">Kaniko</li>
        <li class="button negative">React</li>
        <li class="button negative">Redux</li>
        <li class="button negative">GraphQL</li>
        <li class="button negative">MongoDB</li>
        <li class="button negative">Okta</li>
        <li class="button negative">OpenShift</li>
        <li class="button negative">Redis</li>
      </ul>
    </div>
  </div>
  <div class="row experience">
    <div class="col-12">
      <h2 class="col-md-10 col-12 float-right button negative">Technical Leader / Senior Software Engineer</h2>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2017 - 2019</div>
      <div class="duration">{{ getDuration('2017-02-01', '2019-02-01') }}</div>
    </div>
    <div class="col-10">
      <span class="company">Société Générale CIB</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Montreal, QC, Canada</span>
      </div>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Val-de-Fontenay, France </span><span class="button negative interval">2017</span>
      </div>
      <ul class="tasks">
        <li>I kickstarted a new strategic project by creating architecture, development guidelines, CI/CD platforms etc.</li>
        <li>As the first person on this project, I had many roles such as developer, tech lead when other people joined, or
          architect.
        </li>
        <li>Everything was done in a microservice approach to provide many APIs in order to process legal contracts with some NLP
          and ML.
        </li>
        <li>The backend development was done with TDD/BDD methodology and we created integration testings and scenarios with the
          users.
        <li>The CI/CD pipeline was done mainly with Jenkins and XLDeploy in order to have a continuous integration environment and
          flawlessly deliver from dev to prod.
        </li>
        <li>I also contributed to the frontend client development.</li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">Java</li>
        <li class="button negative">Spring</li>
        <li class="button negative">Spring Boot</li>
        <li class="button negative">OAuth2</li>
        <li class="button negative">Consul</li>
        <li class="button negative">Zuul</li>
        <li class="button negative">Jenkins</li>
        <li class="button negative">Sonar</li>
        <li class="button negative">Git</li>
        <li class="button negative">Maven</li>
        <li class="button negative">Docker</li>
        <li class="button negative">Angular</li>
        <li class="button negative">Python</li>
        <li class="button negative">BDD</li>
        <li class="button negative">TDD</li>
        <li class="button negative">DevOps</li>
        <li class="button negative">Cucumber</li>
        <li class="button negative">Living Documentation</li>
      </ul>
    </div>
  </div>
  <div class="row experience d-print-none">
    <div class="col-12">
      <h2 class="col-md-10 col-12 float-right button negative">Software Engineer</h2>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2016 - 2017</div>
      <div class="duration">4 months</div>
    </div>
    <div class="col-10">
      <span class="company">Generali</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>La Plaine Saint-Denis, France</span>
      </div>
      <ul class="tasks">
        <li>I helped create good practices and development guidelines in order to stabilize and standardize all Java applications
          of the IT department (CI/CD, TDD, BDD, libraries).
        </li>
        <li>I also migrated an obsolete webservice from Corba to Java.</li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">J2EE</li>
        <li class="button negative">Angular JS</li>
        <li class="button negative">Selenuim/Fluentlenium</li>
        <li class="button negative">Jenkins</li>
      </ul>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2016</div>
      <div class="duration">1 month</div>
    </div>
    <div class="col-10">
      <span class="company">SFEIR</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Neuilly-sur-Seine, France</span>
      </div>
      <ul class="tasks">
        <li>I contributed to the backend development of an application dedicated to the employees skillsets with a graph database
          and graphic representation.
        </li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">Java</li>
        <li class="button negative">Docker</li>
        <li class="button negative">Spring</li>
        <li class="button negative">Spring Boot</li>
        <li class="button negative">Neo4J Database</li>
        <li class="button negative">Google Cloud (AppEngine, ComputeEngine)</li>
      </ul>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2013 - 2016</div>
      <div class="duration">3 years 8 months</div>
    </div>
    <div class="col-10">
      <span class="company">Crédit Agricole CIB</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Courbevoie, France</span>
      </div>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>New-York, NY, USA </span><span class="button negative interval">june - jul. 2014</span>
      </div>
      <ul class="tasks">
        <li>I designed and implemented the complete refactoring of an inhouse front-to-back booking application from Struts to
          Spring, and from Java 5 to Java 8 with teams in Paris and Noida (India).
        </li>
        <li>I did the full makeover of the CTRLM (scheduler) architecture for New-York IT Treasury department.</li>
        <li>I also developed functionalities on front-to-back proprietary application Kondor+, handled support L3 and managed an
          offshore team of 6 peoples in Noida.
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">Java</li>
        <li class="button negative">Spring</li>
        <li class="button negative">Hibernate</li>
        <li class="button negative">jUnit</li>
        <li class="button negative">SVN</li>
        <li class="button negative">Maven</li>
        <li class="button negative">JavaScript</li>
        <li class="button negative">Kondor+ by Misys (formerly by Reuters)</li>
        <li class="button negative">Shell scripting</li>
        <li class="button negative">STP</li>
        <li class="button negative">Sybase ASE (T/SQL)</li>
        <li class="button negative">CTRLM</li>
        <li class="button negative">Team Management</li>
      </ul>
    </div>
  </div>
  <div class="row experience d-print-none">
    <div class="col-12">
      <h2 class="col-md-10 col-12 float-right button negative">Software Engineer Intern</h2>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2012</div>
      <div class="duration">7 months</div>
    </div>
    <div class="col-10">
      <span class="company">BNP Paribas</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Montreuil, France</span>
      </div>
      <ul class="tasks">
        <li>I made detailed analysis of business requirements to enhance the reporting tool of the Treasury.</li>
        <li>I developed tens of new reports through the creation of complex and optimized stored procedures.</li>
        <li>These optimizations were mainly done through indexes and crafted SQL joins with temporary tables.</li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">SVN</li>
        <li class="button negative">Shell scripting</li>
        <li class="button negative">Sybase ASE (T/SQL)</li>
        <li class="button negative">C++</li>
        <li class="button negative">Powerbuilder</li>
      </ul>
    </div>
  </div>
  <div class="row experience d-print-none">
    <div class="col-12">
      <h2 class="col-md-10 col-12 float-right button negative">Fullstack Developper</h2>
    </div>
    <div class="col-2 timeline">
      <div class="button interval">2011</div>
      <div class="duration">6 months</div>
    </div>
    <div class="col-10">
      <span class="company">buzzing light</span>
      <div class="location">
        <img class="pinpoint" src="assets/img/noun_pinpoint_1426597.svg"/>
        <span>Paris, France</span>
      </div>
      <ul class="tasks">
        <li>I was part of both backend and frontend development for the short-term jobs web and mobile platform
          <strong><i>Beepjob</i></strong>.
        </li>
        <li>I fully designed and developed the search engine based on the user location, enhancement with many criterias such as
          distance, type of contract, relevance etc.
        </li>
        <li>I also helped define the visual identity.</li>
      </ul>
    </div>
    <div class="col-12">
      <ul class="secondary job-skills">
        <li class="button negative">PHP</li>
        <li class="button negative">HTML</li>
        <li class="button negative">CSS</li>
        <li class="button negative">JavaScript</li>
        <li class="button negative">AJAX</li>
        <li class="button negative">MySQL</li>
        <li class="button negative">Google Geolocation API</li>
      </ul>
    </div>
  </div>
</div>
