#work-experiences {

  h1 {
    color: var(--theme-tertiary-color);
  }

  .company {
    font-weight: bold;
  }

  ul.tasks {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: justify;

    li::marker {
      color: var(--theme-tertiary-color);
    }
  }

  ul.job-skills {
    display: inline-block;
    padding: 0;
    margin: 0 20px;
    font-size: var(--theme-font-size-smaller);

    li {
      display: inline-block;
      padding: 5px;
      margin: 3px;
    }

    li::before {
      content: none;
    }
  }
}

@media print {

  div.col-10 {
    display: inline-block;
    position: relative;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
