#education {

    h1 {
        color: var(--theme-quaternary);
    }

    .school, .schoolbis {
        font-weight: bold;
    }

    .minor {
        color: var(--theme-quaternary);
        font-size: var(--theme-font-smaller);
    }

    .eq-diploma {
        display: block;
        font-size: 0.75em;
        color: var(--theme-font-light);
    }

}