h1 {
  text-align: center;
}

.d-flex {
  gap: 20px;
}

.skill {
  flex: 1 1 100%;
}

.skill h2 {
  padding: 10px 8px;
  font-weight: bold;
}
  
.skill > div , .skill table td {
  padding: 2px 10px;
}

.skill img {
  width: 30px;
}

/*
progress bars
*/
progress {
  appearance: none;
  height: calc(var(--theme-font-size-medium) * 1.4 + 2px);
  --bs-background-bg: var(--theme-font-color-lighter);
  --bs-background-color: var(--theme-secondary-color);
}
progress::-webkit-progress-bar {
  background-color: var(--theme-font-color-lighter);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: var(--theme-secondary-color);
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: var(--theme-secondary-color);
  border-radius: 10px;
}

@media (max-width: 992px) {
  #skills .d-flex {
    gap: 10px;
  }

  .skill {
    flex: 1 1 calc(50% - 20px);
  }
}

@media print {
  div {
    float: none !important;
  }

  .skill {
    display: inline-block;
    float: none !important;
  }
}
