#personal-details {
  font-family: "Alata";
  margin: 30px auto;
  padding: 0 0 30px 0;
  border-bottom: 5px dotted var(--theme-font-color-lighter);

  #name, #position {
    text-align: justify;
    text-transform: capitalize;
    line-height: .9em;
  }

  #name {
    font-size: 3em;
    font-weight: bold;
  }

  #position {
    color: var(--theme-font-color-light);
    font-size: 2em;
    font-weight: lighter;
    padding-left: .5em;
  }

  #contact {
    font-size: .9em;
    max-width: 250px;
    color: var(--theme-font-color-light);

    img.pinpoint {
      opacity: .5;
      margin-right: 5px;
    }
  }
}

#powered-by {
  opacity: 0.5;
  font-family: "Pacifico", cursive;
  font-display: swap;
  text-align: center;
  margin: 30px auto;
  padding: 30px 0 0 0;
  border-top: 5px dotted var(--theme-font-color-lighter);

  .code {
    font-size: 5em;
    color: var(--lightgrey);
    font-family: monospace;
    font-display: swap;
  }
}

@media (max-width: 576px) {

  #contact {
    max-width: 100% !important;
    margin-top: 10px;

    span {
      display: inline-block;

      &:not(:first-child):before {
        content: "|";
        margin: 0 5px;
      }

      &:first-child::before {
        content: "";
      }
    }
  }
}
