<div id="work-experiences" class="section tertiary">
  <h1 class="negative position-sticky">work experience</h1>
  @for (job of jobs; track job) {
  <div class="row experience">
    <div class="col-2 timeline">
      <div class="button interval">
        {{ job.startDate | date:'yyyy' }}
        {{ job.endDate ? ((job.startDate | date:'yyyy') !== (job.endDate | date:'yyyy') ? ' - ' + (job.endDate |
        date:'yyyy') : '') : ' - Present' }}
      </div>
      <div class="duration">{{ getDuration(job.startDate, job.endDate) }}</div>
    </div>
    <div class="col-10">
      <h2 class="col-md-10 col-12 float-right button negative">{{ job.title }}</h2>
      <div class="company">{{ job.company }}</div>
      @for (location of job.locations; track location) {
      <div class="location">
        <img class="pinpoint" src="img/noun_pinpoint_1426597.svg" />
        <span>{{ location }}</span>
      </div>
      }
      <ul class="tasks">
        @for (task of job.tasks; track task) {
        <li [innerHTML]="task"></li>
        }
      </ul>
      <ul class="secondary job-skills">
        @for (skill of job.skills; track skill) {
        <li class="button negative">{{ skill }}</li>
        }
      </ul>
    </div>
  </div>
  }
</div>