/****************************
*** fonts
****************************/
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato');
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/****************************
*** variables
****************************/
:root {
  --blue: #325886;
  --darkgrey: #222222;
  --darkgreen: #688162;
  --emerald: #50c878;
  --emerald-lighter: #d6f2e0;
  --green: #90B289;
  --grey: #707f70;
  --lightgreen: #b6ceb1;
  --lightgrey: #bbbfbb;
  --redish: #ff5252;
  --white: #ffffff;

  /*****************
  * THEMING
  ******************/
  --theme-font-color: var(--darkgrey);
  --theme-font-color-light: var(--grey);
  --theme-font-color-lighter: var(--lightgrey);
  --theme-primary-color: var(--darkgrey);
  --theme-primary-font-color: var(--white);
  --theme-secondary-color: var(--redish);
  --theme-secondary-font-color: var(--white);
  --theme-tertiary-color: var(--emerald);
  --theme-tertiary-font-color: var(--white);
  --theme-quaternary-color: var(--blue);
  --theme-quaternary-font-color: var(--white);
  --theme-font-size: 14px;
  --theme-font-size-smaller: .9rem;
}

/****************************
*** colors
****************************/
.heart {
  color: red;
}

/****************************
*** basics
****************************/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  font-size: var(--theme-font-size);
  color: var(--theme-font-color);
}

h1, h2 {
  padding: 10px 0;
  font-size: 1.3em;
}

h1 {
  font-size: 1.8em;
  color: var(--theme-font-color);
  text-transform: uppercase;
}

h2 {
  font-size: 1.3em;
  color: var(--theme-font-color);
}

a {
  color: var(--theme-font-color-light);

  &:hover {
    color: var(--theme-font-color);
  }
}

/****************************
*** theme components
****************************/
.button-primary {
  background-color: var(--theme-primary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-primary-font-color);
}

.button-primary-neg {
  border: 1px solid var(--theme-primary-color);
  background-color: var(--theme-primary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-primary-color);
}

.button-secondary {
  background-color: var(--theme-secondary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-secondary-font-color);
}

.button-secondary-neg {
  border: 1px solid var(--theme-secondary-color);
  background-color: var(--theme-secondary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-secondary-color);
}

.button-tertiary {
  background-color: var(--theme-tertiary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-tertiary-font-color);
}

.button-tertiary-neg {
  border: 1px solid var(--theme-tertiary-color);
  background-color: var(--theme-tertiary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-tertiary-color);
}

.button-quaternary {
  background-color: var(--theme-quaternary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-quaternary-font-color);
}

.button-quaternary-neg {
  border: 1px solid var(--theme-quaternary-color);
  background-color: var(--theme-quaternary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-quaternary-color);
}

/****************************
*** components
****************************/
.location {
  margin-bottom: 5px;
  color: var(--theme-font-color-lighter);
  font-size: var(--theme-font-size-smaller);

  img {
    margin-bottom: 2px;
    width: 1em;
    height: 1em;
    opacity: .2;
  }

}

.cv-part {
  margin: 0 0 40px 0;
  padding-right: 15px;
  padding-left: 15px;
}

.pagebreak {
  line-height: 0;
  padding: 0;
  margin: 0;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }

}
