/*****************
*** fonts
*****************/
@import url('https://fonts.googleapis.com/css?family=Alata');
@import url('https://fonts.googleapis.com/css?family=Arima');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/*****************
* VARIABLES
*****************/
:root {
  --blue: #325886;
  --darkgrey: #222222;
  --darkgreen: #688162;
  --emerald: #50c878;
  --emerald-lighter: #d6f2e0;
  --green: #90B289;
  --grey: #707f70;
  --lightgreen: #b6ceb1;
  --lightgrey: #bbbfbb;
  --redish: #ff5252;
  --white: #ffffff;

  /*****************
  * THEMING
  ******************/
  --theme-font-color: var(--darkgrey);
  --theme-font-color-light: var(--grey);
  --theme-font-color-lighter: var(--lightgrey);
  --theme-font-family: "Open Sans";
  --theme-font-size-medium: .875rem;
  --theme-font-size-smaller: .7rem;
  --theme-primary-color: var(--darkgrey);
  --theme-primary-font-color: var(--white);
  --theme-secondary-color: var(--redish);
  --theme-secondary-font-color: var(--white);
  --theme-tertiary-color: var(--emerald);
  --theme-tertiary-font-color: var(--white);
  --theme-quaternary-color: var(--blue);
  --theme-quaternary-font-color: var(--white);

  /*****************
  * BOOTSTRAP OVERRIDE
  ******************/
  --bs-body-font-family: var(--theme-font-family);
  --bs-body-font-size: var(--theme-font-size-medium);
}

/*****************
* BASICS
*****************/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  padding: 10px 0;
  font-family: "Alata";
}

h1 {
  font-size: 1.8em;
  color: var(--theme-font-color);
  text-transform: uppercase;
}

h2 {
  font-size: 1.3em;
  color: var(--theme-font-color);
}

a {
  color: var(--theme-font-color-light);

  &:hover {
    color: var(--theme-font-color);
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}

/*****************
* GLOBAL
*****************/
.heart {
  color: red;
}

.button-primary {
  background-color: var(--theme-primary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-primary-font-color);
}

.button-primary-neg {
  border: 1px solid var(--theme-primary-color);
  background-color: var(--theme-primary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-primary-color);
}

.button-secondary {
  background-color: var(--theme-secondary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-secondary-font-color);
}

.button-secondary-neg {
  border: 1px solid var(--theme-secondary-color);
  background-color: var(--theme-secondary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-secondary-color);
}

.button-tertiary {
  background-color: var(--theme-tertiary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-tertiary-font-color);
}

.button-tertiary-neg {
  border: 1px solid var(--theme-tertiary-color);
  background-color: var(--theme-tertiary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-tertiary-color);
}

.button-quaternary {
  background-color: var(--theme-quaternary-color);
  border-radius: calc(1em / 3);
  color: var(--theme-quaternary-font-color);
}

.button-quaternary-neg {
  border: 1px solid var(--theme-quaternary-color);
  background-color: var(--theme-quaternary-font-color);
  border-radius: calc(1em / 3);
  color: var(--theme-quaternary-color);
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
  color: var(--theme-font-color-lighter);
  font-size: var(--theme-font-size-smaller);
}

img.pinpoint {
  width: 1em;
  height: 1em;
  opacity: .2;
}

.cv-part {
  margin: 0 0 40px 0;
  padding-right: 15px;
  padding-left: 15px;
}

.pagebreak {
  line-height: 0;
  padding: 0;
  margin: 0;
}
